modules = ["python-3.11"]
[agent]
expertMode = true
integrations = ["python_openai_ai_integrations:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind=0.0.0.0:5000", "--reuse-port", "app:app"]

[userenv]

[userenv.shared]

[userenv.development]
AI_INTEGRATIONS_OPENAI_BASE_URL = "https://automation.preductive.co/webhook-test/450070c6-477c-44d5-a891-934975d1c01b"
AI_INTEGRATIONS_OPENAI_API_KEY = "test123"
N8N_WEBHOOK_URL = "https://automation.preductive.co/webhook-test/450070c6-477c-44d5-a891-934975d1c01b"
N8N_BEARER_TOKEN = "test123"

[userenv.production]
AI_INTEGRATIONS_OPENAI_BASE_URL = "s"
AI_INTEGRATIONS_OPENAI_API_KEY = "s"
N8N_WEBHOOK_URL = "https://automation.preductive.co/webhook-test/450070c6-477c-44d5-a891-934975d1c01b"
N8N_BEARER_TOKEN = "test123"
